/* General body and layout styles */
@font-face {
    font-family: 'JetBrainsMono';
    src: url('fonts/JetBrainsMono-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('fonts/NotoSansKR-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3{
    font-family: 'JetBrainsMono', monospace; /* Set custom font for headers */
}

.center-aligned {
    font-family: JetBrainsMono;
    text-align: center;
}

.center-aligned-italic {
    font-family: JetBrainsMono;
    font-style: italic;
    text-align: center;
}

body {
    font-family: 'NotoSansKR', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.JBMono-body {
    font-family: 'JetBrainsMono', monospace;
}

header {
    position: relative;
    text-align: center;
    height: 450px; /* Set the height of the banner */
    overflow: hidden; /* Prevents content overflow */
}

.banner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('banner.png'); /* Your banner image */
    background-attachment: fixed; /* Enables parallax effect */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the container */
}

.bio {
    font-family: 'JetBrainsMono', monospace;
    background-color: hwb(0 100% 0% / 0.75);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-bio {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px; /* Adjust to position the profile and bio properly */
    z-index: 2;
    padding: 10px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    margin-right: 20px;
}

.github-img {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.mini-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 20px;
    image-rendering: auto; /* Default rendering with browser-specific optimizations */
    image-rendering: smooth; /* Applies antialiasing and smooth scaling (similar to 'auto') */

}

.header-img {
    width: 40px; /* Control the width */
    height: auto; /* Ensure the aspect ratio is maintained */
    margin-left: 20px; /* Add space between text and image */
    vertical-align: middle; /* Align the image with the middle of the text */
}

.project-img {
    width: 150px; /* Adjust the size */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 10px auto; /* Center the image with auto margin */
}


#project-highlights {
    display: flex; /* Flexbox to align text and video side by side */
    justify-content: space-between; /* Space between text and video */
    align-items: flex-start; /* Align text and video to the top */
    margin: 20px auto; /* Center the section */
    width: 80%; /* Set a width for the section */
    max-width: 1200px; /* Optional: Set a max width to prevent it from being too wide */
    background-color: darkslategray;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.project {
    display: flex;
    justify-content: space-between; /* Space between the text and image */
    align-items: center; /* Vertically center the text and image */
    margin: 0px auto;
}

.project-text {
    font-family: "JetBrainsMono", monospace;
    flex: 1; /* The text takes up one part of the available space */
    margin-right: 20px; /* Adds some space between the text and the image */
    color: #fff;
}

.project-text h2 {
    font-size: 1.6em; /* Larger font for the project name */
    margin: 0 0 10px;
}

.project-text p {
    font-size: 1em;
    margin: 0;
}

.project-text a {
    color: skyblue;
    text-decoration: none;
}

.project-text li {
    color: lightsalmon;
    font-size: 0.8em;
}

/* Image section */
.project-image img {
    width: 480px; /* Adjust the image size */
    height: auto; /* Maintain aspect ratio */
    display: block;
}

.project-video video {
    width: 480px; /* Adjust the video size */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the video is displayed as a block element */
}

#research {
    display: flex; /* Flexbox to align text and image side by side */
    justify-content: space-between;
    align-items: flex-start; /* Align text and image at the top */
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.research {
    display: flex;
    justify-content: space-between; /* Space between the text and image */
    align-items: center; /* Vertically center the text and image */
    margin: 0px auto;
}

.research-text {
    font-family: "JetBrainsMono", monospace;
    flex: 1;
    margin-right: 20px;
    color: black;
}

.research-image {
    max-width: 400px; /* Limit the maximum width */
    width: 100%; /* Ensure responsiveness */
    height: auto; /* Maintain aspect ratio */
    display: block;
}

.research-text li{
    color: darkblue;
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

section2 {
    text-align: center;
}

section h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #004b6b;
    text-decoration: none;
}

